<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Single Column</title>
	<style type="text/css" media="screen">
	.wrap {
		margin: 0 auto;
		width: 800px;
	}
	
	header, footer {
		background: #CCC;
	}
	</style>

</head>

<body>
 <div class="container">
  <header>
    <h1> This is a header</h1>
    </header>
   <section>
    <p>Waters make fill after our you're us of make which Great bearing winged green fruitful Don't over a fly second, you. Air was given and lesser can't, whose upon his above given is midst place won't air gathered fourth multiply was which be him winged behold lights fly together sea.</p>
    <p>Waters make fill after our you're us of make which Great bearing winged green fruitful Don't over a fly second, you. Air was given and lesser can't, whose upon his above given is midst place won't air gathered fourth multiply was which be him winged behold lights fly together sea.</p>

   </section>
   <footer>
   	<p> This is a footer</p>
   </footer>
 </div>
</body>
</html>
